{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
<div class="signup-login">
    <div class="signup-box">
        <form method="post">
            {% csrf_token %}
            <div class="heading">
                Things To Do:
            </div>
            <input type="text" class="inp" name="task" required placeholder="Task">
            <input type="submit" class="submit-button" value="Add Task">
        </form>
        <div>
            <a class="anc" href="/login">Logout</a>
        </div>
    </div>
</div>


</body>

</html>